*~

/lib/*.a
/lib/*.dll
/lib/*.o
/lib/*.obj
/lib/*.mod
/lib/*.so

/examples/*.csv
/examples/*.vtu
/examples/*.exe
/examples/*.mod
/examples/*.o
/examples/*.obj
/examples/*.out
/examples/*.png
/examples/*.svg


/rk_methods_maple/stability/RPlot/*.png
/rk_methods_maple/inwork
/rk_methods_maple/README.html

/tests/*.csv
/tests/*.vtu
/tests/*.exe
/tests/*.mod
/tests/*.o
/tests/*.obj
/tests/*.out
/tests/*.png
/tests/*.tmp

/README.html

/docs/dox/
/resources/
/next-tag.org
